Source: tatu-hello
Maintainer: Santiago Aguiar <santiago.aguiar@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: tatu-hello
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rastro de tatu
 tatu-hello indica que funcionó la instalación desde el repositorio Tatu.
