Source: tatu-hello
Maintainer: Plan Ceibal <ceibal@plan.ceibal.edu.uy>
Section: Ceibal
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: tatu-hello
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rastro de tatu
 tatu-hello indica que funcionó la instalación desde el repositorio Tatu.
